body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: lightblue;
  flex-direction: column;
}
main {
  border-radius: 12px;
  margin: auto;
  width: 92vw;
  height: 620px;
  background-color: antiquewhite;;
}
.top-section {
  text-align: center;
  font-size: 1.3rem;
  color: white;
  background-color: red;
  border-radius: 10px 10px 0 0;
  margin: 0;
  padding: 10px;
}
.semi-circle-left {
  width: 18px;
  height: 35px;
  background-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 100px;
  border: 1px solid black;
  border-left: none;
}
.semi-circle-right {
  width: 18px;
  height: 35px;
  background-color: transparent;
  border-top-left-radius: 100px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 0;
  border: 1px solid black;
  border-right: none;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  height: 32vh;
}
@keyframes expandCompress {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}
img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  animation: expandCompress 3s infinite;
}
.bottom-section {
  text-align: center;
  font-size: 1.3rem;
  color: white;
  background-color: red;
  display: flex;
  border-radius: 0 0 12px 12px;
  width: 92vw;
  height: 36px;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.info {
  display: flex;
  gap: 60px;
  padding: 20px;
  /* justify-content: center; */
  align-items: flex-start;
}
.info > div > p {
  margin: 5px auto;
  font-size: larger;
  font-weight: bold;
  word-wrap: normal;
}
.info > .pass-type > p {
  width: 90px;
}
.info > .pass-type {
  padding-left: 12px;
}
hr {
  border: none;
  height: 1px;
  background: #000;
  background: repeating-linear-gradient(
    90deg,
    #000,
    #000 8px,
    transparent 8px,
    transparent 20px
  );
}
.time-id {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time {
  display: flex;
  /* margin: 0; */
  gap: 60px;
  padding: 20px;
}

.time > div > p {
  margin: 10px auto;
  font-size: 16px;
  font-weight: bold;
}

.time > .id {
  padding: 10px;
}
#line {
  display: flex;
}

#line > hr {
  width: 85vw;
  border: 0;
  margin-top: 17px;
  height: 0.8px;
  background: #000;
  background: repeating-linear-gradient(
    90deg,
    #000,
    #000 8px,
    transparent 8px,
    transparent 20px
  );
}
